{% extends 'advertiser_management/base.html' %}
{% block title %}
    Ad detail
{% endblock %}

{% block content %}
    <div class="container" dir="ltr">
        {% for ad, dic in click_and_viewed_dic.items %}
            <div class="card mt-2 p-2">
                <h3>{{ ad.title }}</h3><h5>id = {{ ad.id }} total clicks ={{ dic.1 }} total views = {{ dic.2 }}</h5>
                <h6>click per view is {{ dic.3 }}</h6>
                {% for hour, click_view in dic.0.items %}
                    <div>
                        {{ click_view.1 }} views and {{ click_view.0 }} clicks in {{ hour }} 'oclock which
                        means {{ click_view.2 }} click per view
                    </div>

                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock content %}
